In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\suvam\Desktop\VS code\100-days-of-machine-learning\day26-ordinal-encoding\customer.csv")

In [3]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [4]:
df.columns

Index(['age', 'gender', 'review', 'education', 'purchased'], dtype='object')

In [5]:
df['review'].unique()

array(['Average', 'Poor', 'Good'], dtype=object)

In [6]:
df['education'].unique()

array(['School', 'UG', 'PG'], dtype=object)

In [7]:
df = df.iloc[:,2:]
print(df.head())

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train, y_test = train_test_split(df.iloc[:,:2], df['purchased'], test_size=0.3,random_state=42)

In [9]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

oe = OrdinalEncoder(categories=[['Poor','Good', 'Average'],['School','UG','PG']])
le = LabelEncoder()

In [10]:
x_train

     review education
6      Good    School
41     Good        PG
46     Poor        PG
47     Good        PG
15     Poor        UG
9      Good        UG
16     Poor        UG
24  Average        PG
34  Average    School
31     Poor    School
0   Average    School
44  Average        UG
27     Poor        PG
33     Good        PG
5   Average    School
29  Average        UG
11     Good        UG
36     Good        UG
1      Poor        UG
21  Average        PG
2      Good        PG
43     Poor        PG
35     Poor    School
23     Good    School
40     Good    School
10     Good        UG
22     Poor        PG
18     Good    School
49     Good        UG
20  Average    School
7      Poor    School
42     Good        PG
14     Poor        PG
28     Poor    School
38     Good    School

In [11]:
oe.fit(x_train)
new_x_train = oe.transform(x_train)
new_x_test = oe.transform(x_test)

In [12]:
le.fit(y_train)
new_y_train=  le.transform(y_train)
new_y_test=  le.transform(y_test)
new_y_train

array([0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0])