In [23]:
import pandas as pd
import requests

In [17]:
# response = requests.get('http://api.openweathermap.org/data/2.5/forecast?id=524901&appid={API key}')

response = requests.get('http://api.openweathermap.org/data/2.5/forecast?id=524901&appid=bd5999419b8647801f99ddd239481150')

In [26]:
response

<Response [200]>

In [38]:
json_data = response.json()

In [ ]:
# Get the JSON data from response
weather_data = response.json()

# Examine the structure of the data
print("Keys in the response:", weather_data.keys())

# Create DataFrame from the 'list' key which contains weather forecasts
df = pd.json_normalize(weather_data['list'])

# Display the first few rows and columns of the DataFrame
print("\nDataFrame columns:", df.columns.tolist())
display(df.head())

# Create a more focused DataFrame with key weather information
weather_df = pd.DataFrame({
    'datetime': pd.to_datetime(df['dt_txt']),
    'temperature': df['main.temp'],
    'feels_like': df['main.feels_like'],
    'humidity': df['main.humidity'],
    'weather_description': df['weather'].apply(lambda x: x[0]['description']),
    'wind_speed': df['wind.speed']
})

Keys in the response: dict_keys(['cod', 'message', 'cnt', 'list', 'city'])

DataFrame columns: ['dt', 'weather', 'visibility', 'pop', 'dt_txt', 'main.temp', 'main.feels_like', 'main.temp_min', 'main.temp_max', 'main.pressure', 'main.sea_level', 'main.grnd_level', 'main.humidity', 'main.temp_kf', 'clouds.all', 'wind.speed', 'wind.deg', 'wind.gust', 'rain.3h', 'sys.pod']

,dt,weather,visibility,pop,dt_txt,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.sea_level,main.grnd_level,main.humidity,main.temp_kf,clouds.all,wind.speed,wind.deg,wind.gust,rain.3h,sys.pod
0,1760367600,"[{'id': 500, 'main': 'Rain', 'description': 'l...",76,1.00,2025-10-13 15:00:00,277.95,274.61,277.95,278.83,1001,1001,982,59,-0.88,100,4.27,310,7.20,1.79,n
1,1760378400,"[{'id': 500, 'main': 'Rain', 'description': 'l...",126,1.00,2025-10-13 18:00:00,278.02,274.57,278.02,278.17,1001,1001,983,71,-0.15,100,4.51,300,7.51,1.93,n
2,1760389200,"[{'id': 500, 'main': 'Rain', 'description': 'l...",199,1.00,2025-10-13 21:00:00,277.72,274.41,277.60,277.72,1003,1003,984,83,0.12,100,4.12,308,8.36,1.78,n
3,1760400000,"[{'id': 500, 'main': 'Rain', 'description': 'l...",90,1.00,2025-10-14 00:00:00,277.45,273.51,277.45,277.45,1005,1005,985,95,0.00,100,5.20,293,9.11,2.28,n
4,1760410800,"[{'id': 500, 'main': 'Rain', 'description': 'l...",10000,0.99,2025-10-14 03:00:00,277.80,274.10,277.80,277.80,1006,1006,986,88,0.00,100,4.90,278,8.81,1.06,n

,datetime,temperature,feels_like,humidity,weather_description,wind_speed
0,2025-10-13 15:00:00,277.95,274.61,59,light rain,4.27
1,2025-10-13 18:00:00,278.02,274.57,71,light rain,4.51
2,2025-10-13 21:00:00,277.72,274.41,83,light rain,4.12
3,2025-10-14 00:00:00,277.45,273.51,95,light rain,5.20
4,2025-10-14 03:00:00,277.80,274.10,88,light rain,4.90